.random{
	background: blue;
}

.card{
	width: 350px;
	border: 1px solid gray;
	box-shadow: 1px 1px 3px #888;
	border-top: 10px solid green;
	min-height: 250px;
	margin: 10px;
	padding: 10px;
	font-size: 30px;
	background-image: url("idea.png");
	height:50px;
}